/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

@keyframes scale-heart {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.25);
    }
}

@keyframes show-sparks {
    from {
        fill: transparent;
    }
    to {
        fill: var(--animation-fill-color);
    }
}

.like-icon {
    transform-origin: center;
}

.heart {
    transform-origin: center;
}

.contour {
    transition: fill 0.1s linear 0s;
}

.core {
    transition: fill 0.3s linear 0.03s;
}

.main-body {
    transition: fill 0.3s linear 0s;
}

.like-icon:hover .core {
    transition: fill 0.3s linear 0s;
    fill: black;
}

.like-icon:hover .main-body {
    transition: fill 0.3s linear 0.05s;
    fill: black;
}

.like-icon:active .core, .like-icon.is-liked .core {
    transition: fill 0.3s linear 0s;
    fill: var(--animation-fill-color);
}

.like-icon:active .main-body, .like-icon.is-liked .main-body {
    transition: fill 0.3s linear 0.05s;
    fill: var(--animation-fill-color);
}

.like-icon.is-liked .contour {
    transition: fill 0.3s linear 0.06s;
    fill: var(--animation-fill-color);;
}

.like-icon.is-liked .heart {
    animation: scale-heart 0.3s ease-in 0.1s 1;
}

.like-icon.is-liked .sparks {
    animation: show-sparks 0.3s ease-in 0.3s 1;
}