/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
    font-family: var(--font-family), sans-serif;
    background-image: var(--background-image);
    background-attachment: fixed;
    background-size: cover;
    font-variation-settings: 'wght' var(--font-weight);
    min-inline-size: 320px;
    min-block-size: 100dvb;
}

.header {
    font-family: var(--accent-font-family), sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: 2px solid black;
    background-color: var(--content-background-color);
    padding-block-start: var(--header-padding-block);
    padding-block-end: var(--header-padding-block);
    gap: 20px;
    inline-size: var(--content-inline-size);
    margin-block: 100px;
    margin-inline: auto;
}

.logo {
    font-size: var(--logo-font-size);
}

.title {
    font-size: var(--title-font-size);
    text-transform: uppercase;
}
