/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

button {
    font-family: var(--accent-font-family), fantasy;
    font-size: 14px;
    /*line-height: 38px;*/
    padding: 0;
    border: 2px solid black;
    background-color: transparent;
    block-size: 38px;
}

.page {
    font-family: var(--font-family), sans-serif;
    font-size: var(--font-size);
    position: relative;
    background-image: var(--background-image);
    background-attachment: fixed;
    background-size: cover;
    font-variation-settings: 'wght' var(--font-weight);
    min-inline-size: 320px;
    min-block-size: 100dvb;
    padding-block-end: 100px;
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.content-section {
    border: 2px solid black;
    background-color: var(--content-background-color);
    inline-size: var(--content-inline-size);
    margin-inline: auto;
}

.header {
    font-family: var(--accent-font-family), fantasy;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-block-start: var(--header-padding-block);
    padding-block-end: var(--header-padding-block);
    gap: 20px;
    margin-block-start: 100px;
    margin-block-end: var(--header-margin-block-end);
}

.logo {
    font-size: var(--logo-font-size);
}

.title {
    font-size: var(--title-font-size);
    text-transform: uppercase;
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: 52px;
}

.card {

}

.card__title {
    font-size: inherit;
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-variation-settings: 'wght' var(--card-title-font-weight);
    margin-block: 4px;
}

.card__image-container {
    position: relative;
}

.card__image {
    display: block;
    border-width: 2px 0;
    border-style: solid;
    border-color: #000000;
    aspect-ratio: 1 / 1;
    inline-size: 100%;
}

.card__label {
    font-family: var(--accent-font-family), fantasy;
    font-size: 14px;
    position: absolute;
    top: 25px;
    right: 25px;
    opacity: 0.5;
    color: rgba(0, 0, 0);
    text-shadow: -1px 0 var(--label-outline-color), 0 1px var(--label-outline-color), 1px 0 var(--label-outline-color), 0 -1px var(--label-outline-color);
}

@supports ((text-stroke: 1px var(--label-outline-color)) or (-webkit-text-stroke: 1px var(--label-outline-color))) {
    .card__label {
        -webkit-text-stroke: 1px var(--label-outline-color);
        text-stroke: 1px var(--label-outline-color);
        text-shadow: none;
    }
}

.card__content {
    line-height: 21px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    gap: 25px;
}

.card__actions {
    display: flex;
    align-self: end;
    gap: 6px;
}

.card__icon-button {
    padding: 0;
    border: none;
}

.like-icon {
    block-size: 100%;
}

.card__like-button {
    letter-spacing: 0;
    inline-size: 130px;
}

.save-button {
    display: flex;
    align-items: center;
    flex-direction: var(--save-button-flex-direction);
    justify-content: center;
    padding: 17px 18px;
    background-color: #FFFFFF;
    block-size: var(--save-button-block-size);
    gap: 8px;
}

.save-button__image {
    block-size: var(--save-button-icon-size);
    inline-size: var(--save-button-icon-size);
    mix-blend-mode: hard-light;
    fill: Red;
}

.save-dialog {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    padding: 28px;
    border: 2px solid black;
    inline-size: 353px;
    block-size: 191px;
}

.save-dialog[open] {
    display: flex;
}

.save-dialog::backdrop {
    background-color: rgb(0 0 0 / 0.5);
    backdrop-filter: blur(7px);
}

.save-dialog__content {
    display: flex;
    align-items: center;
    gap: 20px;
}

.save-dialog__image {
    block-size: 39px;
    inline-size: 39px;
}

.save-dialog__text {
    font-family: var(--accent-font-family), fantasy;
    font-size: 14px;
    line-height: 1.5;
    text-transform: uppercase;
}

.save-dialog__button {
    text-transform: uppercase;
    inline-size: 100%;
}

.image2 {
    filter: brightness(200%);
}

.image3 {
    filter: contrast(20%);
}

.image4 {
    filter: blur(3.2rem);
}

.image5 {
    filter: opacity(0.8);
}

.image6 {
    filter: grayscale(0.8);
}

.image7 {
    filter: saturate(158%);
}

.image8 {
    filter: sepia(1) contrast(2) brightness(200%);
}