/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --font-family: 'Inter-Variable';
    --accent-font-family: 'PressStart2P';
    --font-weight: 410;
    --card-title-font-weight: 715;
}