/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --font-family: 'Inter-Variable';
    --accent-font-family: 'PressStart2P';
    --font-weight: 410;
    --card-title-font-weight: 715;
    --font-size: 18px;
    --background-image: repeating-linear-gradient(to right, #d3d3d3, transparent 4px), repeating-linear-gradient(to bottom, #d3d3d3, transparent 4px), linear-gradient(to bottom, #e7e7e7 0% 0.01%, #1a1a1a);
    --content-inline-size: clamp(23.4375rem, 16.1972rem + 30.892vw, 44rem);
    --logo-font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
    --title-font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
    --header-padding-block: clamp(7.5rem, 7.2799rem + 0.939vw, 8.125rem);
    --header-margin-block-end: 96px;
    --content-background-color: #FFFFFF;
    --label-outline-color: #FFFFFF;
    --save-button-block-size: 55px;
    --save-button-flex-direction: row;
    --save-button-icon-size: 21px;
    --save-dialog-block-size: 353px;

    --contour-color: #000000;
    --animation-fill-color: #FF0000;
}

@media (width <= 375px) {
    :root {
        --header-margin-block-end: 100px;
        --save-button-block-size: 84px;
        --save-button-flex-direction: column;
        --save-button-icon-size: 29px;
        --save-dialog-block-size: 341px;
    }
}